# Archivos del sistema operativo
.DS_Store

# Archivos de configuración de IDE
.idea/

# Archivos de construcción de Java/Maven
target/
*.jar

# Archivos Docker
docker-compose.yml


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
